<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <h1 style="text-align: center">Happy Market</h1>
    <div class="mb-3 text-center" ng-show="!authorized">
        <form class="form-signin" ng-submit="tryToAuth()" style="max-width: 350px; padding: 15px; margin: 0 auto;">
            <h1 class="h3 mb-3 font-weight-normal">Пожалуйста войдите</h1>
            <label for="inputUsername" class="sr-only">Имя пользователя</label>
            <input type="text" ng-model="user.username" id="inputUsername" class="form-control"
                   placeholder="Имя пользователя" style="margin-bottom: 10px;" required="">
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" ng-model="user.password" id="inputPassword" class="form-control" placeholder="Пароль"
                   style="margin-bottom: 10px;" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>
<!--        <form class="form-signin" ng-submit="userRegistration(email)" style="max-width: 350px; padding: 15px; margin: 0 auto;">-->
<!--            <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>-->
<!--            <label for="inputNewUsername" class="sr-only">Имя пользователя</label>-->
<!--            <input type="text" ng-model="newUser.username" id="inputNewUsername" class="form-control"-->
<!--                   placeholder="Имя пользователя" style="margin-bottom: 10px;" required="">-->
<!--            <label for="inputNewPassword" class="sr-only">Пароль</label>-->
<!--            <input type="password" ng-model="newUser.password" id="inputNewPassword" class="form-control" placeholder="Пароль"-->
<!--                   style="margin-bottom: 10px;" required="">-->
<!--            <label for="email" class="sr-only">Пароль</label>-->
<!--            <input type="password" ng-model="email" id="email" class="form-control" placeholder="email"-->
<!--                   style="margin-bottom: 10px;" required="">-->
<!--            <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегестрироваться</button>-->
<!--            <p class="mt-5 mb-3 text-muted">© GeekBrains 2021</p>-->
<!--        </form>-->
    </div>

    <div ng-show="authorized">
        <h5>Страничка пользователя: "{{user.username}}"</h5>
        <button class="btn btn-primary" ng-click="countMetods()">Counter</button>
<!--        <p><a href="http://localhost:8189/happy/api/v1/products/count">Counter</a></p>-->
        <h3>Список товаров</h3>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <td>Название</td>
                <td>Цена</td>
<!--                <td>Удаление</td>-->
                <td>Добавление в корзины</td>
                <td>Удаление из корзины</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in ProductsPage.content">
                <td>{{p.title}}</td>
                <td>{{p.cost}}</td>
<!--                <td>-->
<!--                    <button class="btn btn-danger" ng-click="deleteProductById(p.id)">Удалить товар</button>-->
<!--                </td>-->
                <td>
                    <button class="btn btn-primary" ng-click="addProductToCart(p.id)">Добавить в корзину</button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteProductToCart(p.id)">Удалить из корзины</button>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li ng-class="page-item" ng-repeat="pageIndex in PaginationArray">
                    <a class="page-link" ng-click="fillTable(pageIndex)">{{pageIndex}}</a>
                </li>
            </ul>
        </nav>

<!--        <h3>Добавить новый товар</h3>-->
<!--        <form novalidate ng-submit="submitCreateNewProduct()">-->
<!--            <div class="form-group col-md-6">-->
<!--                <label for="newProductTitle">Название</label>-->
<!--                <input class="form-control" type="text" ng-model="newProduct.title" id="newProductTitle">-->
<!--            </div>-->
<!--            <div class="form-group col-md-6">-->
<!--                <label for="newProductCost">Цена</label>-->
<!--                <input class="form-control" type="number" ng-model="newProduct.cost" id="newProductCost">-->
<!--            </div>-->
<!--            <div>-->
<!--                <button class="btn btn-success" type="submit">Сохранить</button>-->
<!--            </div>-->
<!--        </form>-->
        <h3>Корзина</h3>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <td>Название</td>
                <td>Количество</td>
                <td>Цена за штуку</td>
                <td>Итоговая цена позиции</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in Cart.items">
                <td>{{p.title}}</td>
                <td>{{p.count}}</td>
                <td>{{p.cost}}</td>
                <td>{{p.totalCost}}</td>
            </tr>
            <tr>
                <td>Сумма</td>
                <td></td>
                <td></td>
                <td>{{Cart.totalPrice}}</td>
            </tr>
            </tbody>
        </table>
        <form class="form-signin" ng-submit="checkout(city, street, numberOfHouse)" style="margin: 0 70% 0 0;">
            <label for="inputCity" class="sr-only">Город получателя</label>
            <input type="text" ng-model="city" id="inputCity" class="form-control"
                   placeholder="Город получателся" style="margin-bottom: 10px;" required="">
            <label for="inputStreet" class="sr-only">Улица получателя</label>
            <input type="text" ng-model="street" id="inputStreet" class="form-control" placeholder="Улица получателя"
                   style="margin-bottom: 10px;" required="">
            <label for="numberOfHouse" class="sr-only">Дом получателя</label>
            <input type="number" ng-model="numberOfHouse" id="numberOfHouse" class="form-control"
                   placeholder="Дом получателя" style="margin-bottom: 10px;" required="">
            <button class="btn btn-primary" type="submit">Оформить заказ</button>
            <button class="btn btn-danger" ng-click="clearCart()">Очистить корзину</button>
        </form>
<!--        <form method="get" th:action="@{'/products/add'}">-->
<!--            <input class="form-control" type="number" placeholder="ID товара" name="id"/>-->
<!--            <input class="form-control" type="text" placeholder="Наименование товара" name="name"/>-->
<!--            <input class="form-control" type="number" placeholder="Стоимость товара" name="cost"/>-->
<!--            <button class="btn btn-primary" type="submit">Добавить</button>-->
<!--        </form>-->

        <h3>Заказы</h3>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <td>ID</td>
                <td>Имя пользователя</td>
                <td>Цена</td>
                <td>Адрес доставки</td>
                <td>Дата создания</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="o in MyOrders">
                <td>#{{o.id}}</td>
                <td>{{o.username}}</td>
                <td>{{o.price}}</td>
                <td>{{o.adress}}</td>
                <td>{{o.creationDateTime}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>